<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="sign-up-form">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :username, "Name" %>
        <%= f.text_field :username %>

        <%= f.label :email , "Email: (must end up with @ucsd.edu)"%>
        <%= f.email_field :email%>

        <%= f.label :phone %>
        <%= f.phone_field :phone %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>