<%provide :title, "Post an Item" %>
<h1>Post an item</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3" id="post-item-form">
    <%= form_for @item, html: {multipart: true} do |f| %>
        <%= render 'shared/item_error_messages' %>
        <%= f.label :title, "Name" %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :timeout %>
        <div class="row">
          <%= f.date_select :timeout, {start_year: Date.current.year}, {style: "display: inline; width: auto;margin-left:15px;", id: "date"}%>
        </div>


        <%= f.label :category_id %>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true%>

        <%= f.label :address %>
        <%= f.text_field :address %>

        <div id="map">

        </div>

        <%= f.label :avatar, "Upload Image" %>
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file">
              <span class="fileinput-new">Select image</span>
              <span class="fileinput-exists">Change</span>
              <%= f.file_field :avatar %>
              <%= f.hidden_field :avatar_cache %>
            </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>

        <%= f.submit "Post item", class: "btn btn-success" %>
    <% end %>

  </div>
</div>