<% provide(:title, @item.title) %>
<div class="container-fluid" xmlns:style="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-xs-6">
      <div class="container">
        <%= image_tag(@item.avatar_url(:big), class: "img-rounded", style: "height: 400px") if @item.avatar? %>
      </div>

    </div>
    <div class="col-xs-6">
      <h1><%= @item.title %></h1>
      <p><span style="font-weight : bold"> Descrition: </span><%= @item.description %></p>
      <p><span style="font-weight : bold"> Expired at: </span><%= @item.timeout %>
      <p><span style="font-weight : bold"> Category: </span><%= @item.category.name %></p>
      <p><span style="font-weight : bold"> Giver: </span><%= @item.user.username %></p>
      <p><span style="font-weight : bold"> Item_id: </span><%= @item.id %></p>
    </div>
    <% id = @item.id%>
    <% if !current_user.dibs.exists?(:item_id => id) %>
        <%= button_to "I Want!", {:controller => "dibs", :action => "create", :dib=> {:item_id => id, :user_id => current_user.id}}, :method => :post, class: "btn btn-primary pull-right" %>
    <% else %>
        <%= button_to "Withdraw!", {:controller => "dibs", :action => "destroy", :dib => {:item_id => id, :user_id => current_user.id}}, class: "btn btn-sm btn=default" %>
    <% end %>
  </div>
</div>

