<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
    <%= render 'layouts/header' %>
    <%= notice_message %>
    <div class="container">
      <%= yield %>
<<<<<<< HEAD

    </div>
=======
      <%= render 'layouts/footer' %>
    </div>

>>>>>>> 67812c69070f5a455283c9efa5ef7f0fbfdbd74f
</body>
<%= render 'layouts/footer' %>
</html>
